.Bank-sync {
    h1 {
        margin: 0;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #474747;
        margin-bottom: 30px;
    }

    .Add__btn {
        font-family: Roboto;
        font-size: 13px;
        line-height: 140%;
        color: #5A5F67;
        margin-top: 65px;

        &::before {
            content: "+";
            padding: 6px 10px;
            border-radius: 50%;
            background: #F2F4F7;
            margin-right: 22px;
            cursor: pointer;
        }
    }

    .Wrapper__section {
        display: none;

        &_open {
            display: flex;
            justify-content: space-between;
    
            .Wrap__block {
                &_first,
                &_second {
                    display: flex;
                    align-items: center;
                }
                &_first {
                    div:nth-child(1) {
                        width: 36px;
                        height: 36px;
                        background: #F2F4F7;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 18px;
                        font-family: Roboto;
                        font-size: 14px;
                        line-height: 16px;
                        color: #474747;
                    }
        
                    div div:nth-child(2) {
                        font-family: Roboto;
                        font-size: 13px;
                        line-height: 18.2px;
                        color: #B5B5B5;
        
                        .Date__sync {
                            font-family: Roboto;
                            font-size: 14px;
                            line-height: 16px;
                            color: #474747;
                        }
                    }
                }
                &_second {
                    .spinner {
                        animation: rotate 2s linear infinite;
                      }
        
                    @keyframes rotate {
                        100% {
                            transform: rotate(360deg);
                        }
                    }
        
                    .Reject__btn {
                        width: 103px;
                        height: 30px;
                        background: rgba(120, 128, 140, 0.06);
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Roboto;
                        font-size: 12px;
                        line-height: 14px;
                        color: #78808C;
                        margin-left: 35px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}



